@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
  @apply bg-white text-black;
}

.custom-layout-height {
  height: calc(100vh - 4rem);
  min-height: calc(100vh - 4rem);
}

.dark .ant-picker-input input::placeholder {
  color: #abaeb1;
}

.dark .ant-picker-input span {
  color: #abaeb1;
}

.dark .multi .ant-select-selector {
  background-color: #334155 !important;
  border-color: #fbbf24 !important;
  color: #ffffff !important;
  padding: 4px;
}

.dark .multi .ant-select-selection-placeholder {
  color: #d1d5db !important;
}

.dark .multi .ant-select-selection-item {
  background-color: #fbbf24 !important;
  color: black !important;
}
